* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  height: 100vh;
  display: grid;
  place-items: center;
  padding: 0;
}
.edit-user-link {
  font-size: 0.9rem;
  color: #0460c3;
  font-weight: 500;
  padding-top: 20px;
}
.edit-user-link:hover {
  cursor: context-menu;
}
.edit-user-container {
  width: 400px !important;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 30%;
}

.edit-user-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.edit-user-header h2 {
  font-size: 1.8rem;
  color: #333;
}

.edit-user-header {
  padding-bottom: 35px;
}

.edit-user-form .form-group {
  margin-bottom: 20px;
  text-align: left;
}

.edit-user-form .form-group label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #333;
}

.edit-user-form .form-group input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.edit-user-form .form-group input:focus {
  border-color: #007bff;
  outline: none;
}

.edit-user-btn {
  width: 100%;
  padding: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.edit-user-btn:hover {
  background-color: #0056b3;
}

.edit-user-box p {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #777;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .edit-user-box {
    padding: 20px;
  }

  .edit-user-header h2 {
    font-size: 1.5rem;
  }

  .edit-user-form .form-group input {
    padding: 10px;
  }

  .edit-user-btn {
    padding: 12px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .edit-user-box {
    padding: 15px;
  }

  .edit-user-header h2 {
    font-size: 1.3rem;
  }

  .edit-user-btn {
    padding: 10px;
    font-size: 0.8rem;
  }
}
